/******************\
 * Author: Mocoma *
\******************/

.smokeDiv {
    background: rgb(10, 0, 10);

    z-index: 1;

    position: fixed;
}

.imgDiv {
    float: left;
    width: 85%;
}

.betDiv {
    border-radius: 2%;
    border-color: rgb(100,200,100);
    border-style: dashed;
}

input[type="number"] {
    text-overflow: ellipsis;

    transition-property: all;
    transition-duration: .5s;

    text-align: center;

    color: rgb(0, 0, 0);
    
    border: none;
    border-bottom-color: rgb(150,200,160);
    border-bottom-left-radius: -10%; 
    border-bottom-right-radius: -10%; 
    border-bottom-style: dashed;

    width: 5em;
    height: 10%;

    margin-left: 15em;
}

input[type="number"]:focus {
    width: 20em;
    margin-left: 0;

    color: rgb(100, 100, 100);

    background-color: rgb(240, 255, 240); 

    outline: none;
}

.infoDiv button {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.surrenderButton {
    background-color: rgb(200, 100, 100);
}

.betDiv * {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.betDiv hr {
    border-width: 5%;

    margin-left: 5%;
    margin-right: 5%;
}

img {
    border-width: 3%;
    border-style: groove;
    border-color: rgb(200, 200, 200);

    margin: auto;

    vertical-align: middle;
}

body {
    text-align: center;
    font-family: consolas;
}

h1, h2, img {
    margin: 0;
}

.important {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 180%;
    font-style: bold;
}

.objDiv {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 0;
    margin-bottom: 0;

    border-color: rgb(100,200,180);
    border-style: inset;

    font-size: 2vmin;
}

.objSpan {
    font-size: 150%;
}

.objectivesNotification {
    border-radius: 5%;
    border-color: rgb(110, 90, 50);
    border-width: 5%;

    width: 50%;
    height: auto;

    position: fixed;
    top: 25%;
    left: 25%;

    display: none;

    background-color: rgb(200, 200, 100);

    z-index: 2;

    text-align: center;
    font-family: Consolas;
    font-size: 3vmin;

    overflow: visible;
}

.aditionalInfo {
    font-size: 60%;
    color: rgb(140, 150, 150);

    background-color: rgb(80, 90, 70);
}

.specialDivs {
    display: none;

    width: 75%;
    height: 90%;

    position: fixed;
    top: 5%;
    left: 12.5%;

    border-color: rgb(100, 10, 100);
    border-width: 30%;
    border-style: solid;

    background-color: rgb(255, 255, 255);

    overflow-y: scroll;
}

#objectiveDiv, #classDiv {
    padding: 5%;
}

#classDiv div {
    display: inline-block;
}

.exitButton {
    border-color: rgb(200, 100, 100);
    border-style: solid;

    color: rgb(255, 100, 100);

    background-color: rgb(255, 200, 200);

    position: absolute;
    top: 2%;
    left: 1%;
}

.exitButton:hover {
    background-color: rgb(255, 50, 50);
}

button {
    background: rgb(240,255,240);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110%;

    border-radius: 1%;
    border-color: rgb(200,100,250);

    margin: 0;
}

button:hover {
    background-color: rgb(200,200,200);
}

button:active {
    background-color: rgb(100,100,100);
}

#cardImg, #resultImg {
    width: 27px;
    height: 36px;
}

.resultDiv {
    display: none;
}

.infoParagraph {
    font-size: 125%;
}
.classUnlocked {
    font-size: 2.5vmin;

    width : 25%;
    height: auto;

    border-color: rgb(100, 255, 100);
    border-width: 2%;
    border-radius: 3%;
    border-style: solid;
}

.classUnlocked:hover {
    border-style: outset;
}

.classLocked {
    font-size: 2.5vmin;

    width : 25%;
    height: auto;

    border-color: rgb(180, 100, 100);
    border-width: 2%;
    border-radius: 3%;
    border-style: solid;

    color: rgb(50, 50, 50);

    background-color: rgb(100, 100, 100);
}

.currClass {
    font-size: 2.5vmin;

    width : 25%;
    height: auto;

    border-color: rgb(100, 180, 100);
    border-width: 2%;
    border-radius: 3%;
    border-style: solid;

    background-color: rgb(180, 255, 180);
}