/******************\
 * Author: Mocoma *
\******************/

.imgDiv {
    float: left;
    width: 85%;
}

.betDiv {
    border-radius: 2%;
    border-color: rgb(100,200,100);
    border-style: dashed;
}

input[type="number"] {
    text-overflow: ellipsis;

    transition-property: all;
    transition-duration: .2s;

    text-align: center;

    color: rgb(0, 0, 0);
    
    border: none;
    border-bottom-color: rgb(150,200,160);
    border-bottom-left-radius: -10%; 
    border-bottom-right-radius: -10%; 
    border-bottom-style: dashed;

    width: 5em;
    height: 10%;
}

input[type="number"]:focus {
    width: 10%;

    color: rgb(100, 100, 100);

    background-color: rgb(240, 255, 240); 

    outline: none;
}

.infoDiv button {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.surrenderButton {
    background-color: rgb(200, 100, 100);
}

.betDiv * {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.betDiv hr {
    border-width: 5%;

    margin-left: 5%;
    margin-right: 5%;
}

img {
    border-width: 3%;
    border-style: groove;
    border-color: rgb(200, 200, 200);

    margin: auto;

    vertical-align: middle;
}

body {
    text-align: center;
    font-family: consolas;
}

h1, h2, img {
    margin: 0;
}

.important {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 180%;
    font-style: bold;
}

.objDiv {
    margin-left: 20%;
    margin-right: 20%;

    border-color: rgb(100,200,180);
    border-style: inset;
}

.objSpan {
    font-size: 150%;
}

.objectivesNotification {
    border-radius: 5%;
    border-color: rgb(110, 90, 50);
    border-width: 5%;

    width: 50%;
    height: auto;

    position: fixed;
    top: 25%;
    left: 25%;

    display: none;

    background-color: rgb(200, 200, 100);

    text-align: center;
    font-family: Consolas;
    font-size: 120%;

    overflow: visible;
}

button {
    background: rgb(240,255,240);

    font-family: fantasy;
    font-size: 110%;

    border-radius: 1%;
    border-color: rgb(200,100,250);

    margin: 0;
}

button:hover {
    background-color: rgb(200,200,200);
}

button:active {
    background-color: rgb(100,100,100);
}

#cardImg, #resultImg {
    width: 27px;
    height: 36px;
}

.resultDiv {
    display: none;
}

.infoParagraph0 {
    font-size: 125%;
}

.infoParagraph1 {
    font-size: 110%;
}